<header class="bg-blue flex justify-center">
  <ul class="navbar-links">
    <li><a href={~p"/"}>About</a></li>
    <li><a href={~p"/"}>Features</a></li>
    <li><a href={~p"/"}>Instagram Beta</a></li>
    <li><a href={~p"/"}>Tiktok Alpha</a></li>
    <li><a href={~p"/"}>Whatsapp</a></li>
  </ul>
  <ul>
    <li><button>Contact</button></li>
    <li><button>Login</button></li>
  </ul>
</header>

<main><.flash_group flash={@flash} /> <%= @inner_content %></main>
